PORT=8080
PPROF_PORT=6062
PORT_FRONTEND=8081
PORT_MONITOR=8082

LOG_DIR=log
LOG_RETAIN=10
DEBUG=false
GIN_MODE=debug

JWT_SECRET=
JWT_SECRET_PAYMENT=
JWT_DURATION_MIN=3600

FREE_TRIAL_SEC=604800

DB_HOST=localhost
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=5432
DB_SSLMODE=disable
DB_TIMEZONE=Europe/Moscow

TG_HEALTHCHECK_CHAT_ID=
TG_HEALTHCHECK_TOKEN=

TG_HANDLER_TOKEN=
TG_HANDLER_OLD_TOKEN=

SSH_USER=komkov.vv
SSH_STATUS_PATH=/var/log/openvpn-status.log
SSH_CREATE_USER_FILE=/home/komkov.vv/ovpn/ovpn_create_user.sh
SSH_REVOKE_USER_FILE=/home/komkov.vv/ovpn/ovpn_revoke_user.sh
SSH_CONFIGS_DIR=/etc/openvpn/server/easy-rsa/

HEALTHCHECK_INTERVAL_SEC=120

VPN_REFRESH_INTERVAL_SEC=300
VPN_CONFIG_DIRATION_SEC=600

VPN_REMOVE_EXPIRED_INTERVAL_SEC=3600

AUTH_FIND_SUSPICIOUS_INTERVAL_SEC=3600

SERVER_AUTO_PRIORITY_INTERVAL_SEC=60

MII_VPN_PROOF=""
PROOF_BAN_IF_FAIL=false

BAD_PATHS_LIST=wordpress|wp|wp-admin|.git|.sh|device|boa|.php|admin|administrator|mysql|db|database|config|configuration|backup|backups|.env|.htaccess|.htpasswd|cgi-bin|.svn|.idea|web.config|.well-known|phpmyadmin|myadmin|server-status|.bash|.ssh|ftp|.zip|.rar|.tar|.gz|.log|install|setup|debug|test|example|demo|vendor|composer|package.json|node_modules|.DS_Store|wp-includes|wp-content|xmlrpc.php|wp-json|.jsp|.asp|.aspx|.pl|.cgi|.py|.exe|.dll|.bat|.cmd|.tmp|temp|.swp|.bak|.old|//|..|%00|%0a|%0d|.crt|.key|.pem|.pfx|.der|.csr|.pub|.ini|.yml|.yaml|.json|.xml|.sql|.dump|.mdb|.db|.db3|.sqlite|.sqlite3|.env.|.dockerignore|Dockerfile|docker-compose|.gitignore|.gitattributes|.gitmodules|.editorconfig|.npmignore|.npmrc

PAYMENT_SHOP_ID=
PAYMENT_SECRET=
PAYMENT_RETURN_URL=
PAYMENT_EXPIRATION_SEC=3600
PAYMENT_REMOVE_EXPIRED_INTERVAL_SEC=3601
PAYMENT_AUTO_INTERVAL_SEC=3600

PAYMENT_URL=
LK_URL=

VPN_KICK_HIGHLOAD_INTERVAL_SEC=10
VPN_KICK_HIGHLOAD_BYTES=25971520

PORT_TRAFIC=9876
VPN_COLLECT_TRAFFIC_INTERVAL_SEC=5