[Unit]
Description=MiiBoost - Monitor
After=network.target

[Service]
Type=simple
User=komkov.vv
WorkingDirectory=/home/komkov.vv/mii_api
ExecStart=/home/komkov.vv/mii_api/monitor
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target