[Unit]
Description=MiiBoost - Server Priority
After=network.target

[Service]
Type=simple
User=komkov.vv
WorkingDirectory=/home/komkov.vv/mii_api
ExecStart=/home/komkov.vv/mii_api/server_priority
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target