<footer class="footer">
    <div class="footer__container container">
        <div class="footer__block">
            <div class="footer__logo">
                <picture>
                    <source srcset="/img/logo.webp" type="image/webp"><img src="/img/logo.png" alt="MiiBoost">
                </picture>
                <p>MiiBoost</p>
            </div>
        </div>
        <div class="footer__block">

        </div>
        <div class="footer__block">
            <a href="/public.docx" target="_blank">Политика конфиденциальности</a>
            <a href="/oferta.docx" target="_blank">Оферта</a>
            <a href="https://t.me/miiboost_support" target="_blank">Поддержка</a>
        </div>
        <div class="footer__block">
            <p>© 2025 MiiBoost.</p>
        </div>
    </div>
</footer>