<header class="header">
    <div class="header__container container">
        <a class="header__logo" href="/">
            <picture>
                <source srcset="/img/logo.webp" type="image/webp"><img src="/img/logo.png" alt="MiiVPN">
            </picture>
        </a>
        <nav class="header__nav">
            <ul>
                <li>
                    <a href="#download">Скачать</a>
                </li>
                <li>
                    <a href="#faq">Ответы на вопросы</a>
                </li>
                <li>
                    <a href="#advantages">Преимущества</a>
                </li>
                <li>
                    <a href="#reviews">Отзывы</a>
                </li>
                <li>
                    <a href="#price">Цена</a>
                </li>
            </ul>
        </nav>
        <th><a href="/user" class="button button-mini">Личный кабинет</a></th>
    </div>
    <div class="header__line line"></div>
</header>